#search {
	width: 100%;
	height: 5%;
	float: left;
	margin-top: 2%;
}

.btntypename {
	float: left;
	margin-left: 2%;
}

.typename {
	width: 15%;
	float: left;
	margin-right: 2%;
}

#searchBtn {
	float: left;
	margin: 3% ；
}

.btntypename, #searchBtn, .addbtn, .addItem {
	background-color: #2B333E;
}
.modal-content{
	width:65%;
	margin: 0 auto;
}
.typeleft {
	width: 50%;
	float: left;
	height: 100%;
}
.addbtn, .addItem {
	margin-left: 79%;
}

.itemright {
	width: 50%;
	float: left;
	height: 100%;
}
.input-group {
	width: 80%;
	margin: 4% auto;
}
/* 单位css */
.unitlabel,.addUnit,#Unitbtn,#submitBtn,#ModifyBtn{
	background-color: #2B333E;
}
.unitlabel
{
	float: left;
}
.unitname
{
	width: 15%;
	float: left;
	margin-right: 2%;
}
#Unitbtn {
	float: left;
	margin-left: 1%;
}

.addUnit {
	margin:2% 0;
	float:right;
}
#unitstatus,#unitstatus option{
	height:5%;
	width:10%;
	border-radius:4px;
	float:left;
}

/* 参数管理css */
.Paramlabel,.addParam,#Parambtn{
	background-color: #2B333E;
}
.Paramlabel
{
	float: left;
}
.Paramname
{
	width: 15%;
	float: left;
	margin-right: 2%;
}
#Parambtn {
	float: left;
	margin-left: 1%;
}
#Returnbtn{
	float: left;
	margin-left:2%;
	background: white;
	color:#2B333E;
	border-color:#2B333E;
}
.addParam {
	margin:2% 0;
	float:right;
}
#Paramstatus,#Paramstatus option{
	height:5%;
	width:11%;
	border-radius:4px;
	float:left;
}
/* 搭挂申请管理css */
.Hanglabel,#Hangbtn,#Refreshbtn,.addHang,.Permitlabel{
	background-color: #2B333E;
}
#Hangbtn,#Refreshbtn{
	float:left;
	margin-left:3%;
}
.to{
	border-radius:0;
}
.Hanglabel{
	float:left;
}
.Permitlabel{
	float:left;
	margin-left:3%;
}
.Hangname{
	width: 14%;
	float: left;
	margin-right: 2%;
}
#HangStatus,#HangStatus option{
	height:5%;
	width:15%;
	border-radius:4px;
	float:left;
}
.form_date{
	float:left;
	width:20%;
	margin:0;
	border-radius:0;
}
.dateFinish,.permittime{
	float:left;
	width:16%;
	margin:0px;
}
.finishtime,.permitfinish{
	border-radius:0;
}
.addHang {
	float:right;
	margin-right:9%;
}
.ApplyPeople,.ApplyUnit,.ApplyTime,.ApplyPhone{
	width:45%;
	float:left;
}
.ApplyNumber,.ApplyBuildType,.ApplyContact{
	margin-left:10%;
	width:45%;
	float:left;
}
.ApplyMemo{
	width:100%;
	height:17%;
	float:left;
}
.modalbutton{
	float:right;
}
#myTab span{
	font-size:17px;
	line-height: 40px;
	margin:0 0 0 40px;
	font-weight: 400;
}