<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.Dao.CheckDetailMapper">
	<resultMap id="BaseResultMap" type="com.xk.orm.CheckDetail">
		<id column="CheckDetailId" property="checkdetailid" jdbcType="INTEGER" />
		<result column="LineCheckId" property="linecheckid" jdbcType="INTEGER" />
		<result column="CheckItemId" property="checkitemid" jdbcType="INTEGER" />
		<result column="HangDetailId" property="hangdetailid" jdbcType="INTEGER" />
		<result column="PoleId" property="poleid" jdbcType="INTEGER" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="Status" property="status" jdbcType="INTEGER" />
		<result column="FaultId" property="faultid" jdbcType="INTEGER" />
		<result column="Description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<select id="SelectAllFaultInfo" parameterType="com.xk.orm.PublicEntity"
		resultType="com.xk.orm.CheckDtlNotice">
		SELECT checkdetail.*,notice.CorrentChkDtlId,notice.CreateTime as
		createtime1,notice.FaultId as faultid1,notice.ProccessId as
		processid1,notice.`Status` as status1,notice.UnitId,dicitem.Item as
		statusname
		from checkdetail LEFT JOIN notice on
		notice.FaultId=checkdetail.FaultId LEFT JOIN dicitem on
		dicitem.DicItemId=notice.`Status` WHERE checkdetail.FaultId!=0
		<if
			test="starttime!=null and starttime!='' and finishtime!=null and finishtime!=''">
			and checkdetail.CreateTime &gt;=#{starttime} and
			checkdetail.CreateTime
			&lt;=#{finishtime}
		</if>
		<if test="status!=0 and status!=''">
			and notice.Status=#{status}
		</if>
		<if test="type!=0 and type!=''">
			and checkdetail.CheckItemId in (SELECT
			checkitem.CheckItemId FROM checkitem WHERE
			checkitem.CheckTypeId=#{type})
		</if>
	</select>
	<insert id="InsertPoleChkDtl" parameterType="com.xk.orm.CheckInfoCommon"
		useGeneratedKeys="true" keyProperty="checkdetailid">
		insert into checkdetail
		(LineCheckId, CheckItemId,
		HangDetailId, PoleId,
		ProcessId,
		CreateTime,
		Status, FaultId,
		Description,TaskId)
		values
		(#{linechkid},
		#{checkitemid,jdbcType=INTEGER},
		#{hangdetailid,jdbcType=INTEGER},
		#{poleid,jdbcType=INTEGER}, #{processid,jdbcType=INTEGER},
		#{StringchkDtlCreatetime,jdbcType=TIMESTAMP},
		#{chkDtlstatus,jdbcType=INTEGER},
		#{faultid,jdbcType=INTEGER},
		#{chkDtlDescription,jdbcType=VARCHAR},#{taskid})
	</insert>
	<!--  修改checkedtail中processid-->
	<update id="ModifyCheckDtlProcess" parameterType="java.lang.Integer">
		update checkdetail
		set ProcessId=#{processid,jdbcType=INTEGER}
		 where CheckDetailId = #{checkdetailid,jdbcType=INTEGER} and FaultId=#{faultid}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		checkdetail
		where CheckDetailId = #{checkdetailid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xk.orm.CheckDetail">
		insert into checkdetail
		(CheckDetailId, LineCheckId, CheckItemId,
		HangDetailId, PoleId,
		ProcessId,
		CreateTime, Status, FaultId,
		Description)
		values
		(#{checkdetailid,jdbcType=INTEGER}, #{linecheckid,jdbcType=INTEGER},
		#{checkitemid,jdbcType=INTEGER},
		#{hangdetailid,jdbcType=INTEGER},
		#{poleid,jdbcType=INTEGER}, #{processid,jdbcType=INTEGER},
		#{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT},
		#{faultid,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xk.orm.CheckDetail">
		insert into checkdetail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="checkdetailid != null">
				CheckDetailId,
			</if>
			<if test="linecheckid != null">
				LineCheckId,
			</if>
			<if test="checkitemid != null">
				CheckItemId,
			</if>
			<if test="hangdetailid != null">
				HangDetailId,
			</if>
			<if test="poleid != null">
				PoleId,
			</if>
			<if test="processid != null">
				ProcessId,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="status != null">
				Status,
			</if>
			<if test="faultid != null">
				FaultId,
			</if>
			<if test="description != null">
				Description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="checkdetailid != null">
				#{checkdetailid,jdbcType=INTEGER},
			</if>
			<if test="linecheckid != null">
				#{linecheckid,jdbcType=INTEGER},
			</if>
			<if test="checkitemid != null">
				#{checkitemid,jdbcType=INTEGER},
			</if>
			<if test="hangdetailid != null">
				#{hangdetailid,jdbcType=INTEGER},
			</if>
			<if test="poleid != null">
				#{poleid,jdbcType=INTEGER},
			</if>
			<if test="processid != null">
				#{processid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="faultid != null">
				#{faultid,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xk.orm.CheckDetail">
		update checkdetail
		<set>
			<if test="linecheckid != null">
				LineCheckId = #{linecheckid,jdbcType=INTEGER},
			</if>
			<if test="checkitemid != null">
				CheckItemId = #{checkitemid,jdbcType=INTEGER},
			</if>
			<if test="hangdetailid != null">
				HangDetailId = #{hangdetailid,jdbcType=INTEGER},
			</if>
			<if test="poleid != null">
				PoleId = #{poleid,jdbcType=INTEGER},
			</if>
			<if test="processid != null">
				ProcessId = #{processid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="faultid != null">
				FaultId = #{faultid,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				Description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where CheckDetailId = #{checkdetailid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xk.orm.CheckDetail">
		update checkdetail
		set LineCheckId = #{linecheckid,jdbcType=INTEGER},
		CheckItemId =
		#{checkitemid,jdbcType=INTEGER},
		HangDetailId =
		#{hangdetailid,jdbcType=INTEGER},
		PoleId = #{poleid,jdbcType=INTEGER},
		ProcessId = #{processid,jdbcType=INTEGER},
		CreateTime =
		#{createtime,jdbcType=TIMESTAMP},
		Status = #{status,jdbcType=SMALLINT},
		FaultId = #{faultid,jdbcType=INTEGER},
		Description =
		#{description,jdbcType=VARCHAR}
		where CheckDetailId =
		#{checkdetailid,jdbcType=INTEGER}
	</update>
</mapper>