<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.Dao.dicitemMapper" >
  <resultMap id="BaseResultMap" type="com.xk.orm.dicitem" >
    <id column="DicItemId" property="dicitemid" jdbcType="INTEGER" />
    <result column="Item" property="item" jdbcType="VARCHAR" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="DicTypeId" property="dictypeid" jdbcType="INTEGER" />
    <result column="Memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 查找某个类型项目 -->
	<select id="selectItemByTypeid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 		select * from dicitem where dicitem.DicTypeId=#{dictypeid}
 	</select>
 	<!-- 查找所有项目 -->
 	<select id="selectAllItem" resultMap="BaseResultMap">
 		select * from dicitem
 	</select>	
 	<!-- 添加项目 -->
 	<insert id="InsertDicItem" parameterType="com.xk.orm.dicitem">
 		 insert into dicitem (Item, Code, 
      DicTypeId, Memo)
    values (#{item,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{dictypeid,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR})
 	</insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dicitem
    where DicItemId = #{dicitemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xk.orm.dicitem" >
    insert into dicitem (DicItemId, Item, Code, 
      DicTypeId, Memo)
    values (#{dicitemid,jdbcType=INTEGER}, #{item,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{dictypeid,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xk.orm.dicitem" >
    insert into dicitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dicitemid != null" >
        DicItemId,
      </if>
      <if test="item != null" >
        Item,
      </if>
      <if test="code != null" >
        Code,
      </if>
      <if test="dictypeid != null" >
        DicTypeId,
      </if>
      <if test="memo != null" >
        Memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dicitemid != null" >
        #{dicitemid,jdbcType=INTEGER},
      </if>
      <if test="item != null" >
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dictypeid != null" >
        #{dictypeid,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xk.orm.dicitem" >
    update dicitem
    <set >
      <if test="item != null" >
        Item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dictypeid != null" >
        DicTypeId = #{dictypeid,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        Memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where DicItemId = #{dicitemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xk.orm.dicitem" >
    update dicitem
    set Item = #{item,jdbcType=VARCHAR},
      Code = #{code,jdbcType=VARCHAR},
      DicTypeId = #{dictypeid,jdbcType=INTEGER},
      Memo = #{memo,jdbcType=VARCHAR}
    where DicItemId = #{dicitemid,jdbcType=INTEGER}
  </update>
</mapper>