<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.Dao.dictypeMapper" >
  <resultMap id="BaseResultMap" type="com.xk.orm.dictype" >
    <id column="DicTypeId" property="dictypeid" jdbcType="INTEGER" />
    <result column="DicName" property="dicname" jdbcType="VARCHAR" />
    <result column="Memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 字典分页查询 -->
  <select id="selectAlltype" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT * from dictype LIMIT #{offset},#{pagesize}
  </select>
  <!-- 字典全部数据查询 -->
  <select id="selectAllTypeNoParam" resultMap="BaseResultMap">
  	select * from dictype
  </select>
  <select id="selectTotalCount" resultType="java.lang.Integer">
  	SELECT count(*) from dictype
  </select>
  <!-- 查找信息 -->
  <select id="selectTypeByInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from dictype where DicName like #{typename}
  </select>
  <!-- 添加信息 -->
  <insert id="InsertDictype" parameterType="com.xk.orm.dictype" >
    insert into dictype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dicname != null" >
        DicName,
      </if>
      <if test="memo != null" >
        Memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dicname != null" >
        #{dicname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="DelDictype" parameterType="java.lang.Integer" >
    delete from dictype
    where DicTypeId = #{dictypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xk.orm.dictype" >
    insert into dictype (DicTypeId, DicName, Memo
      )
    values (#{dictypeid,jdbcType=INTEGER}, #{dicname,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xk.orm.dictype" >
    insert into dictype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictypeid != null" >
        DicTypeId,
      </if>
      <if test="dicname != null" >
        DicName,
      </if>
      <if test="memo != null" >
        Memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictypeid != null" >
        #{dictypeid,jdbcType=INTEGER},
      </if>
      <if test="dicname != null" >
        #{dicname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xk.orm.dictype" >
    update dictype
    <set >
      <if test="dicname != null" >
        DicName = #{dicname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        Memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where DicTypeId = #{dictypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xk.orm.dictype" >
    update dictype
    set DicName = #{dicname,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR}
    where DicTypeId = #{dictypeid,jdbcType=INTEGER}
  </update>
</mapper>