<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.Dao.HangDetailMapper">
	<resultMap id="BaseResultMap" type="com.xk.orm.HangDetailList">
		<result column="HangLineId" property="hanglineid" jdbcType="INTEGER" />
		<result column="hangname" property="hangname" jdbcType="VARCHAR" />
		<collection property="hangList" ofType="com.xk.orm.HangDetail"
			column="HangLineId" javaType="list">
			<id column="childhangdetailid" property="handdetailid" jdbcType="INTEGER" />
			<result column="childhanglineid" property="hanglineid"
				jdbcType="INTEGER" />
			<result column="childcode" property="code" jdbcType="VARCHAR" />
			<result column="childpoleid" property="poleid" jdbcType="INTEGER" />
			<result column="childprevpoleid" property="prevpoleid"
				jdbcType="INTEGER" />
			<result column="childnextpoleid" property="nextpoleid"
				jdbcType="INTEGER" />
			<result column="childgetmethod" property="getmethod" jdbcType="INTEGER" />
			<result column="childstatus" property="status" jdbcType="INTEGER" />
			<result column="childmemo" property="memo" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	<!-- 根据hanglineid查找线杆信息 -->
	<resultMap id="SelectHangPoleByHangLineidMap" type="com.xk.orm.HangDetailList">
		<id column="HandDetailId" property="handdetailid" jdbcType="INTEGER" />
		<result column="HangLineId" property="hanglineid" jdbcType="INTEGER" />
		<result column="Code" property="code" jdbcType="VARCHAR" />
		<result column="PoleId" property="poleid" jdbcType="INTEGER" />
		<result column="PrevPoleId" property="prevpoleid" jdbcType="INTEGER" />
		<result column="NextPoleId" property="nextpoleid" jdbcType="INTEGER" />
		<result column="GetMethod" property="getmethod" jdbcType="INTEGER" />
		<result column="Status" property="status" jdbcType="INTEGER" />
		<result column="Memo" property="memo" jdbcType="VARCHAR" />
		<collection property="hangList" ofType="com.xk.orm.HangDetail"
			column="HangLineId" javaType="list">
			<result column="newpoleid" property="poleid" jdbcType="INTEGER" />
			<result column="newpolename" property="polename" jdbcType="INTEGER" />
		</collection>
	</resultMap>
	<resultMap type="com.xk.orm.HangDetail" id="hangdetailPole">
		<id column="HandDetailId" property="handdetailid" jdbcType="INTEGER" />
		<result column="HangLineId" property="hanglineid" jdbcType="INTEGER" />
		<result column="Code" property="code" jdbcType="VARCHAR" />
		<result column="PoleId" property="poleid" jdbcType="INTEGER" />
		<result column="PrevPoleId" property="prevpoleid" jdbcType="INTEGER" />
		<result column="NextPoleId" property="nextpoleid" jdbcType="INTEGER" />
		<result column="GetMethod" property="getmethod" jdbcType="INTEGER" />
		<result column="Status" property="status" jdbcType="INTEGER" />
		<result column="Memo" property="memo" jdbcType="VARCHAR" />
		<result column="hanglinename" property="hanglinename" jdbcType="VARCHAR" />
		<result column="statusname" property="statusname" jdbcType="VARCHAR" />
		<collection property="linedetailList" ofType="com.xk.orm.LineDetail"
			column="PoleId" javaType="list">
			<id column="childlinedetailid" property="linedetailid" jdbcType="INTEGER" />
			<result column="childLineId" property="lineid" jdbcType="INTEGER" />
			<result column="childPoleId" property="poleid" jdbcType="INTEGER" />
			<result column="childPrePoleId" property="prepoleid" jdbcType="INTEGER" />
			<result column="childCode" property="code" jdbcType="VARCHAR" />
			<result column="childName" property="name" jdbcType="VARCHAR" />
			<result column="childMemo" property="memo" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	<!-- 已废弃 -->
	<select id="selectHangPole" resultType="com.xk.orm.Pole"
		parameterType="java.lang.Integer">
		select pole.* from pole WHERE pole.PoleId in (select
		hangdetail.PoleId from
		hangdetail WHERE
		hangdetail.HangLineId=#{hanglineid})
	</select>
	<!-- 查找搭挂线路细节信息 手机端 -->
	<select id="selectAllHangAndPole" resultMap="BaseResultMap">
		SELECT
		hangline.HangLineId,hangline.HangName as
		hangname,hangdetail.HandDetailId as
		childhangdetailid,hangdetail.HangLineId as
		childhanglineid,hangdetail.`Code` as childcode,hangdetail.PoleId as
		childpoleid,hangdetail.PrevPoleId as
		childprevpoleid,hangdetail.GetMethod as
		childgetmethod,hangdetail.`Status` as childstatus,hangdetail.Memo as
		childmemo from hangline LEFT JOIN hangdetail on
		hangline.HangLineId=hangdetail.HangLineId
	</select>
	<!-- 根据poleid查找搭挂详情信息 -->
	<select id="SelectHangDetailInfo" resultType="com.xk.orm.HangDetail" parameterType="java.lang.Integer">
		SELECT hangdetail.* from hangdetail WHERE hangdetail.PoleId=#{poleid}
	</select>
	<!-- 电脑端根据hanglineid查找相关线杆信息包括状态 -->
	<select id="SelectHangDetailPole" resultMap="hangdetailPole"
		parameterType="java.lang.Integer">
		SELECT hangdetail.*,dicitem.Item as statusname,hangline.HangName as hanglinename,linedetail.LineDetailId as
		childlinedetailid,linedetail.LineId as childLineId,linedetail.PoleId
		as childPoleId,linedetail.PrePoleId as
		childPrePoleId,linedetail.`Code` as childCode,linedetail.`Name` as
		childName,linedetail.Memo as childMemo from hangdetail LEFT JOIN
		linedetail on hangdetail.PoleId=linedetail.PoleId LEFT JOIN dicitem ON dicitem.DicItemId=hangdetail.`Status` LEFT JOIN hangline on hangdetail.HangLineId=hangline.HangLineId where
		hangdetail.HangLineId=#{hanglineid}
	</select>
	<select id="SelectHangPoleByHangLineid" resultMap="SelectHangPoleByHangLineidMap"
		parameterType="java.lang.Integer">
		SELECT
		hangdetail.*,linedetail.`Name` as
		newpolename,linedetail.PoleId as newpoleid from hangdetail LEFT JOIN
		linedetail on hangdetail.PoleId=linedetail.PoleId WHERE
		hangdetail.HangLineId=#{hanglineid}
	</select>
	<select id="SelectHangLineByPoleid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select DISTINCT h1.HangLineId,hangline.HangName as
		hangname,h2.HandDetailId as childhangdetailid,h2.HangLineId as
		childhanglineid,h2.`Code` as childcode,h2.PoleId as
		childpoleid,h2.PrevPoleId as childprevpoleid,h2.NextPoleId as
		childnextpoleid,h2.GetMethod as childgetmethod,h2.`Status` as
		childstatus,h2.Memo as childmemo from hangdetail h1 LEFT JOIN
		hangdetail h2 on h1.HangLineId=h2.HangLineId LEFT JOIN hangline on
		h1.HangLineId=hangline.HangLineId WHERE h2.PoleId=#{poleid}
	</select>
	<!-- 添加搭挂线杆信息 -->
	<insert id="InsertHangPoleDetail" parameterType="com.xk.orm.HangDetail">
		insert into
		hangdetail (PoleId, Code,
		HangLineId, PrevPoleId, NextPoleId,
		GetMethod, Status, Memo
		)
		values (#{poleid,jdbcType=INTEGER},
		#{code,jdbcType=INTEGER},
		#{hanglineid,jdbcType=INTEGER},
		#{prevpoleid,jdbcType=INTEGER}, #{nextpoleid,jdbcType=INTEGER},
		#{getmethod,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT},
		#{memo,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 批量添加搭挂线杆信息 -->
	<insert id="InsertHangDetailList" parameterType="com.xk.orm.HangLine">
		insert into
		hangdetail (PoleId, Code,
		HangLineId, PrevPoleId,
		NextPoleId,
		GetMethod, Status, Memo
		)
		values
		<foreach collection="hangList" item="item" index="index"
			separator=",">
			(#{item.poleid,jdbcType=INTEGER},
			#{item.code,jdbcType=INTEGER},
			#{item.hanglineid,jdbcType=INTEGER},
			#{item.prevpoleid,jdbcType=INTEGER},
			#{item.nextpoleid,jdbcType=INTEGER},
			#{item.getmethod,jdbcType=SMALLINT},
			#{item.status,jdbcType=SMALLINT},
			#{item.memo,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<update id="ModifyHangPole" parameterType="com.xk.orm.HangDetail">
		update hangdetail
		<set>
			<if test="poleid != null">
				PoleId = #{poleid,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				Code = #{code,jdbcType=INTEGER},
			</if>
			<if test="hanglineid != null">
				HangLineId = #{hanglineid,jdbcType=INTEGER},
			</if>
			<if test="prevpoleid != null">
				PrevPoleId = #{prevpoleid,jdbcType=INTEGER},
			</if>
			<if test="nextpoleid != null">
				NextPoleId = #{nextpoleid,jdbcType=INTEGER},
			</if>
			<if test="getmethod != null">
				GetMethod = #{getmethod,jdbcType=SMALLINT},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="memo != null">
				Memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where HandDetailId = #{handdetailid,jdbcType=INTEGER}
	</update>
	<delete id="DelHangPole" parameterType="java.lang.Integer">
		delete hangdetail.* from hangdetail  where hangdetail.HandDetailId=#{handdetailid}
	</delete>
	<insert id="insertSelective" parameterType="com.xk.orm.HangDetail">
		insert into hangdetail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="handdetailid != null">
				HandDetailId,
			</if>
			<if test="poleid != null">
				PoleId,
			</if>
			<if test="index != null">
				index,
			</if>
			<if test="hanglineid != null">
				HangLineId,
			</if>
			<if test="prevpoleid != null">
				PrevPoleId,
			</if>
			<if test="nextpoleid != null">
				NextPoleId,
			</if>
			<if test="getmethod != null">
				GetMethod,
			</if>
			<if test="status != null">
				Status,
			</if>
			<if test="memo != null">
				Memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="handdetailid != null">
				#{handdetailid,jdbcType=INTEGER},
			</if>
			<if test="poleid != null">
				#{poleid,jdbcType=INTEGER},
			</if>
			<if test="index != null">
				#{index,jdbcType=INTEGER},
			</if>
			<if test="hanglineid != null">
				#{hanglineid,jdbcType=INTEGER},
			</if>
			<if test="prevpoleid != null">
				#{prevpoleid,jdbcType=INTEGER},
			</if>
			<if test="nextpoleid != null">
				#{nextpoleid,jdbcType=INTEGER},
			</if>
			<if test="getmethod != null">
				#{getmethod,jdbcType=SMALLINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xk.orm.HangDetail">
		update hangdetail
		<set>
			<if test="poleid != null">
				PoleId = #{poleid,jdbcType=INTEGER},
			</if>
			<if test="index != null">
				index = #{index,jdbcType=INTEGER},
			</if>
			<if test="hanglineid != null">
				HangLineId = #{hanglineid,jdbcType=INTEGER},
			</if>
			<if test="prevpoleid != null">
				PrevPoleId = #{prevpoleid,jdbcType=INTEGER},
			</if>
			<if test="nextpoleid != null">
				NextPoleId = #{nextpoleid,jdbcType=INTEGER},
			</if>
			<if test="getmethod != null">
				GetMethod = #{getmethod,jdbcType=SMALLINT},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="memo != null">
				Memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where HandDetailId = #{handdetailid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xk.orm.HangDetail">
		update hangdetail
		set PoleId = #{poleid,jdbcType=INTEGER},
		index =
		#{index,jdbcType=INTEGER},
		HangLineId = #{hanglineid,jdbcType=INTEGER},
		PrevPoleId = #{prevpoleid,jdbcType=INTEGER},
		NextPoleId =
		#{nextpoleid,jdbcType=INTEGER},
		GetMethod =
		#{getmethod,jdbcType=SMALLINT},
		Status = #{status,jdbcType=SMALLINT},
		Memo = #{memo,jdbcType=VARCHAR}
		where HandDetailId =
		#{handdetailid,jdbcType=INTEGER}
	</update>
</mapper>