<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.Dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.xk.orm.Role" >
    <id column="RoleId" property="roleid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RoleId, Name, Memo
  </sql>
  <select id="selectRoleid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from role
    where RoleId = #{userid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllRole" resultMap="BaseResultMap">
  	select * from role
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where RoleId = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xk.orm.Role" >
    insert into role (RoleId, Name, Memo
      )
    values (#{roleid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xk.orm.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        RoleId,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="memo != null" >
        Memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xk.orm.Role" >
    update role
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        Memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where RoleId = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xk.orm.Role" >
    update role
    set Name = #{name,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR}
    where RoleId = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>