<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.Dao.SysParamMapper">
	<resultMap id="BaseResultMap" type="com.xk.orm.SysParam">
		<id column="SysParamId" property="sysparamid" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="Value" property="value" jdbcType="VARCHAR" />
		<result column="Type" property="type" jdbcType="INTEGER" />
		<result column="Memo" property="memo" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 所有信息 -->
	<select id="selectAllParam" resultType="com.xk.orm.SysParamInfo">
		select * from sysparam order by SysParamId DESC
	</select>
	<!-- 名称 类型查找 -->
	<select id="SearchSysParam" resultType="com.xk.orm.SysParamInfo"
		parameterType="java.util.Map">
		select * from sysparam where sysparam.Name like concat('%',#{paramname},'%')
		and sysparam.Type=#{paramtype}
	</select>
	<!-- 类型查找 -->
	<select id="SearchByType" resultType="com.xk.orm.SysParamInfo"
		parameterType="java.util.Map">
		select * from sysparam where sysparam.Type=#{paramtype}
	</select>
	<!-- 添加参数信息 -->
	<insert id="InsertParam" parameterType="com.xk.orm.SysParam">
		insert into sysparam (Name, Value,
		Type, Memo) 
		values (#{name,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR})
	</insert>
	<!-- 修改信息 -->
	<update id="ModifyParam" parameterType="com.xk.orm.SysParam">
		update sysparam
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				Value = #{value,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				Memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where SysParamId = #{sysparamid,jdbcType=INTEGER}
	</update>
	<delete id="DelParam" parameterType="java.lang.Integer">
		delete from sysparam
		where SysParamId = #{sysparamid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xk.orm.SysParam">
		insert into sysparam (SysParamId, Name, Value,
		Type, Memo)
		values (#{sysparamid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xk.orm.SysParam">
		insert into sysparam
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sysparamid != null">
				SysParamId,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="value != null">
				Value,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="memo != null">
				Memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sysparamid != null">
				#{sysparamid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				#{value,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xk.orm.SysParam">
		update sysparam
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				Value = #{value,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				Memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where SysParamId = #{sysparamid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xk.orm.SysParam">
		update sysparam
		set Name = #{name,jdbcType=VARCHAR},
		Value = #{value,jdbcType=VARCHAR},
		Type = #{type,jdbcType=INTEGER},
		Memo = #{memo,jdbcType=VARCHAR}
		where SysParamId = #{sysparamid,jdbcType=INTEGER}
	</update>
</mapper>